{% extends "base.html" %}

{% block title %}Eco{% endblock %}

{% block content %}
<h1>Economies réalisées</h1>


<button class="menu-button" onclick="showForm('factureForm')">Ajouter une Facture</button>

<div id="factureForm" style="display:none;">
    <form action="/ajouter_facture" method="post">
        <label for="type_facture">Type de facture:</label>
        <input type="text" id="type_facture" name="type_facture" required><br>

        <label for="montant">Montant:</label>
        <input type="number" id="montant" name="montant" step="any" required><br>

        <label for="valeur_conso">Valeur consommée:</label>
        <input type="number" id="valeur_conso" name="valeur_conso" step="any" required><br>

        <label for="date_fact">Date facture:</label>
        <input type="date" id="date_fact" name="date_fact" required><br>

        <label for="logement">Logement:</label>
        <select id="logement" name="id_loge" required>
            {% for logement in logements %}
                <option value="{{ logement.id_loge }}">{{ logement.adresse }}</option>
            {% endfor %}
        </select><br>

        <input type="submit" value="Ajouter la facture">
    </form>
</div>

<div class="form-group">
    <label for="logementSelect">Sélectionner un logement:</label>
    <select class="form-control" id="logementSelect" name="logementSelect" onchange="loadFactureTypes(this.value)">
        <option value="">Sélectionner un logement</option>
        {% for logement in logements %}
            <option value="{{ logement.id_loge }}">{{ logement.adresse }}</option>
        {% endfor %}
    </select>
</div>

<div id="emptyFactureMsg" style="display:none; color:red;"></div>

<div class="form-group" id="factureTypeContainer" style="display:none;">
    <label for="factureTypeSelect">Sélectionner un type de facture:</label>
    <select class="form-control" id="factureTypeSelect" name="factureTypeSelect" onchange="loadGraph(this.value)">
        <option value="">Sélectionner un type de facture</option>
        <!-- Les options seront ajoutées dynamiquement par JavaScript -->
    </select>
</div>

<div id="graphContainer" style="display:none; justify-content: space-between;">
    <div style="flex: 1; margin-right: 10px;">
        <h2>Graphique de l'évolution du montant</h2>
        <canvas id="graphMontant" style="width: 100%; height: 400px;"></canvas>
        <p id="comparisonMsg" style="color:red; display:none;"></p>
    </div>
    <div style="flex: 1; margin-left: 10px;">
        <h2 id="barChartTitle" style="display:none;"></h2>
        <canvas id="barChart" style="width: 100%; height: 400px;"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/factures.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.3.0"></script>

<style>
    .menu-button {
        background-color: #006400; /* Dark green */
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: box-shadow 0.3s ease;
    }
</style>

{% endblock %}