{% extends "base.html" %}

{% block title %}État des Capteurs/Actionneurs{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}

{% block content %}
<h1>État des Capteurs/Actionneurs</h1>

<h2>Capteurs Actifs</h2>
<table class="table">
    <thead>
        <tr>
            <th>Référence Commerciale</th>
            <th>Port de Communication</th>
            <th>Unité de Mesure</th>
            <th>Pièce - Logement</th>
            <th>Date d'Insertion</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for capteur in active_capteurs %}
        <tr>
            <td>{{ capteur.ref_commerciale }}</td>
            <td>{{ capteur.port_communication }}</td>
            <td>{{ capteur.unite_mesure }}</td>
            <td>{{ capteur.logement_adresse }} - {{ capteur.piece_nom }}</td>
            <td>{{ capteur.date_insert }}</td>
            <td><button class="btn btn-primary" onclick="loadGraph({{ capteur.id_capteur }})">Afficher Mesures</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="graphContainer" style="display:none;">
    <h2>Graphique des Mesures</h2>
    <canvas id="graphMesures" style="width: 100%; height: 60vh;"></canvas> <!-- Utiliser des pourcentages pour la taille -->
</div>

<h2>Capteurs Inactifs</h2>
<table class="table">
    <thead>
        <tr>
            <th>Référence Commerciale</th>
            <th>Port de Communication</th>
            <th>Unité de Mesure</th>
            <th>Pièce - Logement</th>
            <th>Date d'Insertion</th>
        </tr>
    </thead>
    <tbody>
        {% for capteur in inactive_capteurs %}
        <tr>
            <td>{{ capteur.ref_commerciale }}</td>
            <td>{{ capteur.port_communication }}</td>
            <td>{{ capteur.unite_mesure }}</td>
            <td>{{ capteur.logement_adresse }} - {{ capteur.piece_nom }}</td>
            <td>{{ capteur.date_insert }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Actionneurs</h2>
<table class="table">
    <thead>
        <tr>
            <th>Référence Commerciale</th>
            <th>Port de Communication</th>
            <th>Pièce - Logement</th>
            <th>Date d'Insertion</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for actionneur in actionneurs %}
        <tr>
            <td>{{ actionneur.ref_commerciale }}</td>
            <td>{{ actionneur.port_communication }}</td>
            <td>{{ actionneur.logement_adresse }} - {{ actionneur.piece_nom }}</td>
            <td>{{ actionneur.date_insert }}</td>
            <td><button class="btn btn-primary" onclick="allumerLed('{{ actionneur.id }}')">Allumer LED</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/economie" class="btn btn-success" style="margin-top: 20px;">Voir les économies réalisées</a>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.3.0"></script>
<script>
let myChart = null;

function loadGraph(capteurId) {
    fetch(`/get_mesures?capteur_id=${capteurId}`)
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById("graphMesures").getContext("2d");

            // Détruire l'ancien graphique s'il existe
            if (myChart !== null) {
                myChart.destroy();
            }

            // Vérifiez que les dates sont au format ISO 8601 ou un format reconnu par Chart.js
            const dates = data.dates.map(date => new Date(date));

            myChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: dates,
                    datasets: [{
                        label: "Mesures",
                        data: data.valeurs,
                        borderColor: "rgba(75, 192, 192, 1)",
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    maintainAspectRatio: false, 
                    responsive: true,
                    scales: {
                        x: {
                            type: "time",
                            time: {
                                unit: "day",
                                tooltipFormat: 'DD T'
                            },
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        },
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: data.unite_mesure
                            }
                        }
                    }
                }
            });
            document.getElementById("graphContainer").style.display = "block";
        });
}
function allumerLed(actionneurId) {
    fetch('/get-led_state', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ actionneur_id: actionneurId, led_state: 1 })
    })
    .then(response => response.json())
    .then(data => {
        console.log('LED allumée:', data);
    })
    .catch(error => {
        console.error('Erreur:', error);
    });
}
</script>

<style>
    #graphContainer {
        margin: auto;
    }
    
    #graphMesures {
        /* prompt chat gpt : comment forcer le redimensionnement d'un bloc en css ?*/
        height: 40vh !important; 
    }

    .table {
        width: 80%;
        margin: auto;
    }
    

</style>

{% endblock %}