{% extends "base.html" %}

{% block title %}Acceuil{% endblock %}

{% block content %}
<div class="jumbotron custom-jumbotron">
    <h1 class="display-4">Bienvenue sur Mon Logement Eco !</h1>
    <p class="lead">Gérez vos capteurs et actionneurs pour un logement plus éco-responsable.</p>
    <hr class="my-4">
    <p>Utilisez les outils disponibles pour suivre et optimiser votre consommation énergétique.</p>
    <a class="btn btn-primary btn-lg" href="/config" role="button">Configurer</a>
</div>
<h2>Prévisions Météo</h2>
<div id="weather-forecast">
    {% if weather_forecast %}
        {% for forecast in weather_forecast.list[:5] %}
            <div class="weather-item">
                <p><strong>{{ forecast.dt_txt }}</strong></p>
                <p>Température : {{ forecast.main.temp }}°C</p>
                <p>Humidité : {{ forecast.main.humidity }}%</p>
                <p>Conditions : {{ forecast.weather[0].description }}</p>
                <img src="http://openweathermap.org/img/wn/{{ forecast.weather[0].icon }}@2x.png" alt="Weather icon">
            </div>
        {% endfor %}
    {% else %}
        <p>Les données météo ne sont pas disponibles pour le moment.</p>
    {% endif %}
</div>

<style>
    .weather-item {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5px;
        display: inline-block;
        text-align: center;
    }
    .custom-jumbotron {
        background-color: rgba(212, 237, 218, 0.6); 
        padding: 2rem 1rem;
        border-radius: 0.3rem;
    }
</style>

{% endblock %}